# Build results
dist/
typings/**/*


scad_tests/output/scad.ts

npm-debug.log

src/compiler/nearley/grammar.err
src/compiler/nearley/grammar.js
src/compiler/nearley/grammar.ts
src/compiler/nearley/grammar.ts


# Others
~$*
*~
node_modules/
src/build/
coverage/
